.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global body styles */
body {
  background-color: #000;  /* Changed to black */
  color: #FFF;             /* Changed to white */
  font-family: 'Arial', sans-serif;
}

/* Card styling */
.card {
  margin-top: 20px;
  background-color: #1A1A1A; /* Darker shade for the card background */
  border: none;
  box-shadow: 0 4px 8px rgba(255,255,255,0.1); /* Lighter shadow for dark mode */
}

.card-body {
  padding: 20px;
}

/* Heading styles */
h1 {
  color: #FFF; /* Keeps the primary blue color for headings */
  text-align: center;
}

/* Button styles */
.button, .btn {
  background-color: #333;  /* Darker background for buttons */
  color: #FFF;             /* White text for buttons */
  border-color: #007BFF;   /* Blue border */
}

.button:hover, .btn:hover {
  background-color: #007BFF;
  color: #FFFFFF;
}

.button:active, .btn:active {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button:focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.thank-you-p {
  margin-bottom: 50px; /* Adjust the size as needed */
}